<div id="carousel">
        <!-- 轮播内容 -->
        <div id="list">
            <img src="assets/images/5.jpg" alt="">
            <img src="assets/images/1.jpg" alt="">
            <img src="assets/images/2.jpg" alt="">
            <img src="assets/images/3.jpg" alt="">
            <img src="assets/images/4.jpg" alt="">
            <img src="assets/images/5.jpg" alt="">
            <img src="assets/images/1.jpg" alt="">
        </div>
        <!-- 导航按钮 -->
        <div id="slider_nav">
            <span class='active'></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- 下一张、上一张切换 -->
        <span id="prev"></span>
        <span id="next"></span>
 </div>