/* Carousel styles */
#carousel {
    width: 1000px;
    height: 500px;
    border: 2px solid brown;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
#list {
    height: 500px;
    width: 7000px;
    display: flex;
    transition: left 1s;
    position: relative;
    left: -800px;
}
#list > img {
    width: 800px;
    height: 100%;
}
#slider_nav {
    width: 100%;
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
}
#slider_nav > span {
    width: 40px;
    height: 4px;
    background-color: rgba(0,0,0,0.4);
    margin: 0 4px;
    cursor: pointer;
}
#slider_nav .active {
    background-color: orangered;
}
#prev, #next {
    width: 28px;
    height: 56px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-size: cover;
    z-index: 20;
}
#prev {
    left: 20px;
    background-image: url('assets/images/preImg.png');
}
#next {
    right: 20px;
    background-image: url('assets/images/nexImg.png');
}
